


<div style="margin-top: 2.5em">
<h2 class="ui teal image header">
    <div class="content">
       <p>{{viewTitle}}</p>
    </div>
</h2>


<form class="ui form">
    <div class="ui stacked segment" style="max-width: 550px">

        <div class="field">
                <label>Full Name</label>
                <input type="text" name="fullName" placeholder="Full Name">
        </div>

        <div class="field">
                <label>Email</label>
                <input type="text" name="email" placeholder="Email">
        </div>

        <div class="field">
                <label>Mobile</label>
                <input type="text" name="mobile" placeholder="Mobile">
        </div>

        <div class="field">
                <label>City</label>
                <input type="text" name="city" placeholder="City">
        </div>

        <button class="ui primary button" type="submit">Submit</button>
    </div>


    <div class="ui error message"></div>

</form>

</div>