<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contacts App</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.4/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.4/semantic.min.js"></script>

</head>
<body>

<div class="ui two column centered grid">
    <div class="column">
        {{{body}}}
    </div>
</div>






</body>
</html>